<div class="container-fluid ">
<div class="row">
  <div class="col-lg-12">
    <mat-toolbar class="header">
      <h2> <a href="#" class="logo">SHOPPING WEB APP</a>  </h2>
      <span class="example-spacer">
      </span>
      <nav class="nav">
            <ul class="nav menu">
              <li class="nav-item"  routerLinkActive="accent">
                <a mat-button class="nav-link" routerLink='/products'>
                  Products
                </a>
              </li>
              <li class="nav-item" routerLinkActive="accent">
                <a mat-button  class="nav-link" routerLink='/favourites'>Favourite<span class="badge" *ngIf="getCount().countBadge > 0">{{getCount().countBadge}}</span>
                </a>
                
              </li>
              <li class="nav-item" routerLinkActive="accent">
                <a mat-button class="nav-link" routerLink='/card' >Card<span class="badge" *ngIf="getCountCard().countBadge > 0">{{getCountCard().countBadge}}</span></a>  
              </li>
              <li class="nav-item" routerLinkActive="accent" *ngIf="getService().userData as user  " >
                <a mat-button  class="nav-link" routerLink='/admin-products' >Admin</a>
              </li>
            </ul>
            <ul class="nav">
              
              <li class="nav-item" *ngIf="getService().userData as user">
                <a mat-button  class="nav-link icon" (click)="onLogout()" >
                  <mat-icon >logout</mat-icon>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="accent" *ngIf="!getService().userData as user">
                <a mat-button class="nav-link align-middle"  (click)="onSignIn()" ><span style="font-size: 18px;">Sign In</span></a>
              </li>
              
              <li  *ngIf="getService().userData as user ">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : 'https://s.clipartkey.com/mpngs/s/152-1520367_user-profile-default-image-png-clipart-png-download.png'}}"
                  alt="{{user.displayName}}">
              </li>
            </ul>   
      </nav>
    </mat-toolbar>
  </div>
</div>
</div>

 
   
     
    
    
   
  
   
  
