*{
    margin: 0;
    padding: 0;
}

.accent {
    color: lightgray;
    text-shadow:black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;

} 

.menu{
    margin-left: 30px;
}

.header{
    background-color: #FA9F16;
    border: 1px solid dimgray;
    height: 80px;
    
}
.example-spacer {
    flex: 1 1 auto;
  }

.logo:hover{
    color: lightgray;
}

.logo{
    font-size: 24px;
    text-shadow:black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
    text-decoration: none;
    color: lightgray;
}

.icon{
    margin-top: 12px;
}

.nav-link{
    vertical-align: middle;
}

a{  
    font-size: 16px;
    width: 100px;
}

a:hover{
    color: black;
}

.s_row{
    margin-top: 10px;
}

hr{
    
    border: 0;
    clear: both;
    
    width: 73%;
    height: 1px;
    background-color: darkgray;
}

.img-thumbnail{
    max-width: 65px;
    height: auto;
}
