*{
    margin: 0;
    padding: 0;
}

.accent {
    color: lightgray;
    text-shadow:black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;

} 

a.accent:hover{
    color: lightgray;
}

.menu{
    margin-left: 30px;
}

.header{
    background-color: #FA9F16;
    border: 1px solid dimgray;
    height: 80px;
    
}
.example-spacer {
    flex: 1 1 auto;
  }

.logo:hover{
    color: lightgray;
}

.logo{
    font-size: 24px;
    text-shadow:black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
    text-decoration: none;
    color: lightgray;
}

li{
    padding: 0;
}

.menu{
    margin-right: 10px;
}

.nav-link {
   
    padding: 12px;
    vertical-align: middle;
}

.nav-link:hover{
    color: black;
}

.nav_btn{  
    
    font-size: 16px;
    width: 125px;
}

select{
    background-color:  #FA9F16;
}

hr{
    
    border: 0;
    clear: both;
    
    width: 73%;
    height: 1px;
    background-color: darkgray;
}

.img-thumbnail{
    max-width: 65px;
    height: 65px;
    vertical-align: middle;
}

.badge {
    margin-bottom: 18px;
    margin-left: 2px;
    font-size: 14px;
    border-radius: 40%;
    width: 22px;
    height: 22px;
    background-color: #ff0000; 
    border: 4px solid #ff0000;
    color: #ffffff;
    text-align: center;
  }

.lang_icon{
    max-width: 40px;
    height: 40px;
    vertical-align: middle;
  }

.s_lang_icon{
    margin-top: -5px;
    max-width: 40px;
    height: 40px;
    vertical-align: middle;
}

.left{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    float: left;
}

.right{
    margin-right: 10px;
    float: right;
    display: flex;
}

.dropdown-toggle::after{
    color: black;
}

a.dropdown-item:hover{
    background-color: #FA9F16;
}

.nav_icon{
    width: 80px;
}