.col-lg-4{
    margin-top: 20px;
}

mat-grid-list{
    margin-top: 20px;
}


.box{
    border:lightgray solid 2px;
    border-radius: 20px 20px 0px 0px;
}  

hr{
    border: 0;
    height: 2px;
    background-color: lightgray;
}

img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border:lightgray solid 2px;
}