<mat-toolbar>
    <span>{{getForm().controls['id'].value?"Edit" : "Add New"}}</span>
    <span class="spacer"></span>
    <button mat-button class="btn-dialog-close" mat-button (click)="onClose()" type="button" tabindex="-1"><mat-icon>highlight_off</mat-icon></button>
</mat-toolbar>

<form  [formGroup]="getForm()" (submit)="onSubmit()" >
    <div class="form-group">
        <mat-form-field >
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Enter the name">
            <mat-error *ngIf="getForm().hasError('required')">
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field >
            <mat-label>Description</mat-label>
            <input type="text" matInput formControlName="description" placeholder="Enter the description">
            <mat-error *ngIf="getForm().hasError('required')">
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field >
            <mat-label>Price</mat-label>
            <input type="number" matInput formControlName="price" placeholder="Enter the price">
            <mat-error *ngIf="getForm().hasError('required')">
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field >
            <mat-label>ImgUrl</mat-label>
            <input type="text" matInput formControlName="imgPath" placeholder="Enter the img ref">
            <mat-error *ngIf="getForm().hasError('required')">
            </mat-error>
        </mat-form-field>
    </div>
    <button mat-stroked-button  type="submit" [disabled]="getForm().invalid" >{{getForm().controls['id'].value?"Edit" : "Add New"}}</button>
</form>

        

