<div class="container auth">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger" *ngIf="error">
                <p> {{ error }}</p>
            </div>
            <form  [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field class="col-lg-12">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="signUpForm.hasError('email') && !signUpForm.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="signUpForm.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field  class="col-lg-12">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Enter the password (at least 6 characters)">
                        <mat-error *ngIf="signUpForm.hasError('required')">
                          Password is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="col-lg-12 text-center">
                    <button mat-button class="btn btn-primary" 
                    type="submit" [disabled]="signUpForm.invalid">Registration</button>
                </div> 
                <div class="col-lg-12 text-center">
                  <ul class="navbar-nav">
                    <li class="nav-item" routerLinkActive="accent" >
                      <a mat-button class="nav-link" routerLink='/auth' style="color:blue;">Already have account</a>
                    </li>
                  </ul>   
              </div> 
            </form>
        </div>
    </div>
</div>
