form{
    margin-top: 10px;
    background-color: rgb(243, 243, 243);
    border: dimgray solid 2px;
    border-radius: 5px;
    
}

.btn{
    width: 200px;
    margin: 5px 5px 5px 5px;
    background-color:#FA9F16;
}

.mat-dialog-container{
    padding: 4px;
}

.spacer {
    flex: 1 1 auto;
  }

 mat-form-field{
     width: 100%;
 }



 mat-toolbar{
     background-color: #FA9F16;
     border-radius: 5px;
 }

 button{
     background-color:#FA9F16 ;
 }