<div class="container">
    <div class="row search">
        <div class="col-lg-4">
            <div class="input-group">
                <div class="form-group">
                    <input type="text"
                    [(ngModel)]="search"
                    placeholder="Select the name"
                    class="form-control">
                </div>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-4">
            <mat-form-field >
                <mat-label>Sort by</mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="option1" (click)="sortByField('price')">Sort by price</mat-option>
                </mat-select>
            </mat-form-field>  
        </div>
    </div>
    <div *ngIf=" search">
        <div class="row" >
        <div class="col-lg-4" [i]="i" *ngFor="let prods of products | filter: search  let i = index">
            <div class="box ">
                <span>
                    <img 
                    [src]="prods.imgPath" 
                    alt="{{prods.name}}"
                    class="img-fluid mx-auto d-block"> 
                </span>
                <div class="text-center">
                    <p ><strong>{{prods.name}}</strong></p>
                    <p>{{prods.description}}</p>
                    <hr>
                </div>
                <div class="footer">
                    <span class="left">
                        <p>&#8372; {{prods.price}}</p>
                    </span>
                    <span class="right">
                        <button mat-icon-button (click)="addFavProds(i, prods)" >
                            <mat-icon>grade</mat-icon>
                       </button>
                       <button mat-icon-button (click)="addCardProds(i, prods)">
                          <mat-icon>shopping_cart</mat-icon>
                     </button>
                    </span>
                </div>
            </div>
        </div>
    </div> 
    </div>   
</div>
<hr>

<div class="container">
    <div class="row content" >
        <div class="col-lg-4" [i]="i" *ngFor="let prods of products  let i = index">
            <div class="box ">
                <span>
                    <img 
                    [src]="prods.imgPath" 
                    alt="{{prods.name}}"
                    class="w-100 img-fluid mx-auto d-block"> 
                </span>
                <div class="text-center">
                    <p ><strong>{{prods.name}}</strong></p>
                    <p>{{prods.description}}</p>
                    <hr>
                </div>
                <div class="footer">
                    <span class="left">
                        <p>&#8372; {{prods.price}}</p>
                    </span>
                    <span class="right">
                        <button mat-icon-button (click)="addFavProds(i, prods)" >
                            <mat-icon>grade</mat-icon>
                       </button>
                       <button mat-icon-button (click)="addCardProds(i, prods)">
                          <mat-icon>shopping_cart</mat-icon>
                     </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>







