<div class="container">
    <div class="row content" >
        <div class="col-lg-4" [i]="index" *ngFor="let favprod of a; let index = index">
            <div class="box ">
                <span>
                    <img 
                    [src]="favprod.imgPath" 
                    alt="{{favprod.name}}"
                    class="img-fluid mx-auto d-block"> 
                </span>
                <div class="text-center">
                    <p ><strong>{{favprod.name}}</strong></p>
                    <p>{{favprod.description}}</p>
                    <hr>
                </div>
                <div class="footer">
                    <span class="left">
                        <p>&#8372; {{favprod.price}}</p>
                    </span>
                    <span class="right">
                        <button mat-icon-button  aria-label="Example icon button with a home icon" (click)="delFavProd(favprod.index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>    
</div>